body {
  font-family: "Helvetica";
}

.App {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

.side-menu {
  flex-basis: 45%;
  text-align: center;
}

.chat-container {
  flex-basis: 100%;
  text-align: center;
}

.rooms {
  text-align: left;
  padding-left: 20px;
  border: 2px solid black;
  max-height: 70vh;
  overflow-y: scroll;
}
